<img id="logo" src="../../assets/micro-instagram-logo.png">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
rel="stylesheet"/>

<span>
    <div class="toolbar-btn">
    <mat-icon fontSet="material-icons-outlined" class="icon">home</mat-icon>
    <p>Home</p>
    </div>
    <div class="toolbar-btn">
    <mat-icon fontSet="material-icons-outlined" class="icon">bookmark_outline</mat-icon>
    <p>Saved</p>
    </div>
    <div class="toolbar-btn">
    <mat-icon fontSet="material-icons-outlined" class="icon">explore</mat-icon>
    <p>Explore</p>
    </div>
</span>