<div id="toolbar">
    <img id="logo" src="../../assets/micro-instagram-logo.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
    rel="stylesheet"/>

    <span>
        <div class="toolbar-btn" (click)="this.homeControl()">
            <mat-icon [fontSet]='fontsets[fontsetIndex("home")]' class="icon">home</mat-icon>
            <p>Home</p>
        </div>
        <div class="toolbar-btn" (click)="this.savedControl()">
            <mat-icon [fontSet]='fontsets[fontsetIndex("saved")]' class="icon">{{ bookmark_icons[fontsetIndex("saved")] }}</mat-icon>
            <p>Saved</p>
        </div>
        <div class="toolbar-btn" (click)="this.postControl()">
            <mat-icon [fontSet]='newPostOpened ? "material-icons" : "material-icons-outlined"' class="icon">add_box</mat-icon>
            <p>Post</p>
        </div>
        <div class="toolbar-btn" *ngIf="user" (click)="userControl()">
            <mat-icon [fontSet]='fontsets[fontsetIndex("user")]' class="icon">account_circle</mat-icon>
            <p>{{ user.username }}</p>
        </div>
    </span>
</div>