<div id="toolbar">
    <img id="logo" src="../../assets/micro-instagram-logo.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
    rel="stylesheet"/>

    <span>
        <div class="toolbar-btn">
        <mat-icon fontSet="material-icons-outlined" class="icon">home</mat-icon>
        <p>Home</p>
        </div>
        <div class="toolbar-btn">
        <mat-icon fontSet="material-icons-outlined" class="icon">bookmark_outline</mat-icon>
        <p>Saved</p>
        </div>
        <div class="toolbar-btn">
        <mat-icon fontSet="material-icons-outlined" class="icon">add_box</mat-icon>
        <p>Post</p>
        </div>
    </span>
</div>
<div id="phantom-toolbar"></div>