<div *ngIf="photo" id="details-container" (click)="onClick($event)">
    <mat-icon fontIcon="close" id="close-icon"></mat-icon>
    <div id="details-window" class="bg-white rounded-sm m-auto flex" (click)="onWindowClick($event)">
        <img [src]="photo.url">
        <div>
            <div>
                <span></span>
                <p>{{this.username | lowercase}}</p>
            </div>
            <p>{{photo.title}}</p>
            <span class="italic text-gray-500">Part of Album {{photo.albumId}} | #{{photo.id}}</span>
            <mat-icon class="icon" (click)="toggleBookmarked()">{{photo.bookmarked ? "bookmark" : "bookmark_outline"}}</mat-icon>
        </div>
    </div>
</div>