#details-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.9);
    position: fixed;
    left:0;
    overflow: hidden;
    display: flex;
}
#close-icon {
    position: absolute;
    right:20px;
    top:20px;
}