p {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
} 
#stories-container {
    width: min(900px, calc(100vw - 240px));
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--divider-gray);
    margin-bottom: 10px;
}
@media (max-width: 900px) {
    #stories-container {
        width: calc(100vw - 20px);
    }
}
@media (max-width: 770px) {
    #stories-container {
        justify-content: start;
    }
}