<div *ngIf="photo && user && album" id="details-container" class="no-scrollbar" (click)="onClick($event)">
    <div id="details-window" class="bg-white rounded-sm m-auto flex">
        <img [src]="localData.url ? localData.url : '../assets/new.png'"
        (click)="onImageClick()">
        <div id="text-details">
            <div id="user-container" class="flex items-center">
                <app-profile-picture [name]="localData.username"></app-profile-picture>
                <input class="inline-block ml-2 font-medium" [(ngModel)]="localData.username" type="text" [disabled]="!this.editMode">
            </div>
            <mat-icon id="more-control" class="icon" (click)="this.more = !this.more; $event.stopPropagation()">more_vert</mat-icon>
            
            <span class="font-medium" *ngIf="!this.editMode">{{ localData.albumTitle }} </span>
            <textarea class="block" type="text" [(ngModel)]="localData.albumTitle" *ngIf="this.editMode"></textarea>
            <span *ngIf="!this.editMode">{{ localData.photoTitle }}</span>
            <textarea class="block" type="text" [(ngModel)]="localData.photoTitle" *ngIf="this.editMode"></textarea>

            <div *ngIf="this.more" class="more" (click)="onMoreClick($event)">
                <button (click)="toggleEdit(); this.more = false;">{{!this.editMode ? "Edit" : "Save"}}</button>
                <button (click)="deleteDialog()">Delete</button>
            </div>
            <div class="italic text-gray-500">Part of Album 
                <span>{{ localData.albumId }}</span>
                <mat-icon class="small-icon" *ngIf="this.editMode"
                (click)="assignNewAlbumId()">auto_awesome</mat-icon>
                | #
                <span>{{ localData.photoId }}</span>
                <mat-icon class="small-icon" *ngIf="this.editMode" 
                (click)="assignNewPhotoId()">auto_awesome</mat-icon>
            </div>
            <mat-icon (click)="photo.liked = !photo.liked">
                {{photo!.liked ? "favorite" : "favorite_outline"}}
            </mat-icon>
            <mat-icon class="icon" (click)="photo.bookmarked = !photo.bookmarked">
                {{photo!.bookmarked ? "bookmark" : "bookmark_outline"}}
            </mat-icon>
        </div>
    </div>
</div>